*{
	margin: 0;
}
img{
	max-width: 100%;
}
 header{
    background-color: #0d0937;
    padding: 15px 0;
}
 .container{
    width: 1200px;
    margin: auto;
    overflow: hidden;
}
 h1{
    font-size: 3em;
    color: #fff;
}
.logo{

width: 20%;

float: left;
}

.logo img{width: 206px;}

nav{
    width: 80%;
    float: left;
}
nav ul{
    display: flex;
    justify-content: flex-end;
}
nav ul li{

color: #fff;

list-style: none;
}
nav ul li a{
    color: #efefef;
    font-size: 14px;
    text-decoration: none;
    padding: 11px 20px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    transition-duration: 0.4s;
}
nav ul li a:hover{
	
color: #0d0937;
	
background: #efefef;
}
.banner{
    background: #ff5757;
}
.banner .container{
    padding: 50px 0;
    overflow: inherit;

}
.banner img{
	box-shadow: 20px 20px 60px 0px #00000026;
	border-radius: 5px;
	transition-duration: 0.3s ;
}
.banner img:hover{
	box-shadow: -20px -20px 60px 0px #00000026; 
}